* {
  margin:0;
  box-sizing:border-box;
}

body {
  font-family: 'Inter', sans-serif;

}

.container {
  margin: 0 auto;
  max-width: 100rem;
  width: 90%;
}

nav {
  display:flex;
  align-items:center;
  background-color: #222222;
  padding: 10px 5px;
}
nav > img {
  height: 60px;
}
nav > h3 {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 1.4rem;
}

nav >h4{
  color: #61DAFB;
  font-weight:600;
  font-size: 1.2rem;
}

.nav-logo {
  max-width: 10%;
}

.main {
  background-color: #282D35;
  height:100vh;
  padding: 57px 27px;
  color:white;
}

.main-title {
  font-size: 40px;
}

.main-list {
  margin-top: 3rem;
  line-height: 2rem;
}

::marker{
  color:#61DAFB;
  font-size:1.2rem;
}